@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.body {
    margin: 0px;
    background-color: black;
}

.nav-bar {
    padding-top: 15px;
    padding-bottom: 15px;
    background: linear-gradient(to left bottom, red, rgb(67, 18, 158));
    color: black;
}

.nav-item-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-item-links {
    cursor: pointer;
    color: aliceblue;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.Movie-Info {
    /* border: 2px solid white; */
    margin: 20px;
    max-width: 60%;
    display: flex;
    background-color: black;
}

.Poster {

    height: 50vh;
    width: auto;
}

.info-Container {
    padding-left: 20px;
    display: flex;
    /* border: 2px solid white; */
    padding-right: 0px;
    flex-direction: column;
}

.info {
    font-size: 1.3em;
    margin-top: 10px;
    padding-left: 20px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.title {
    font-size: 1.4em;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.story {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.story-alone {
    font-weight: bold;
}
.review-section {
    color: white;
}

#review-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    display: inline;
    padding: 10px;
    padding-right: 0%;
}

#review-count {
    background-color: rgb(99, 99, 99);
    /* border: 1px solid rgb(255, 255, 255); */
    border-radius: 30px;
    font-size: 15px;
    margin-bottom: px;
    padding: 2px;
}

#review-text {
    background-color: black;
    color: white;
    resize: none;
    min-height: 40px;
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid white;
    font-size:15px;
    outline: none;
    padding: 0px;
}

.write-review-container {
    background-color:rgb(0, 0, 0);
    margin: 10px;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    /* border: 2px solid; */
}

.profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 8px;
    margin-bottom: 0px;
}

.profile-and-comment {
    display: flex;
}

.save-cancel-container {
    display: flex;
    padding: 10px;
    margin: 0px;
    justify-content: flex-end;
}

.cancel,.save{
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    outline: none;
    height: 30px;
    width:60px;
}

.cancel{
    margin-right: 10px;
    border-radius: 5px;
    border: 0.5px solid;
}

.save {
    background-color: rgb(41, 41, 231);
    color: white;
    border: none;
    padding: 0px 10px;
    border-radius: 5px;
}
.cancel:hover,.save:hover{
   box-shadow:white 0px 0px 10px 0px ;
}
.showReview-container{
    /* border: 1px solid white; */
    display: flex;
    max-width: 70%;
    margin: 10px;
    background-color: rgb(49, 48, 48);
    border-radius: 3px;
}
.username-review-likeReply-container{
    display:flex ;
    flex-direction: column;
}
.username-and-time{

    display:flex ;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  
}
.username{
    padding-top: 10px;
}
h4{
    margin: 0px;
}
.time{
    color: rgb(218, 218, 218);
    font-size: 15px;
    margin-left: auto;
    padding: 10px;
    padding-bottom: 0px;
}
.show-review{
    color: white;
}
.like-and-reply{
    color: white;
    display: flex;
    margin-bottom: 9px;
}
.like-button{
    background-color: transparent;
    border: none;
    padding: 0px;
}
.reply{
    margin-left: 10px;
}

@media screen and (max-width:700px) {
    .nav-bar {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-item-links {
        padding: 10px;
    }

    .Movie-Info {
        margin: 8px;
        padding-right: 0px;
        max-width: 100%;
        /* border: 2px solid white; */
        display: flex;
        background-color: black;
    }

    .Poster {
        margin-top: 30px;
        margin-right: 0px;
        height: 30vh;
    }

    .info-Container {
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .info {
        font-size: 1em;
        margin-top: 9px;
        padding-left: 20px;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .title {
        font-size: 1.2em;
        padding-top: 10px;
        margin: 0px;
    }

    .story {
        font-size: 0.9em;
        margin: 0px;
    }

    .story-alone {
        font-size: 1em;
        font-weight: bold;
    }

    .ratings {
        font-size: 1em;
    }
    .showReview-container{
        max-width: 100%;
    }


}