@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;

}
body {
    margin: 0px;
    background-color: black;
}

.nav-bar {
    padding-top: 15px;
    padding-bottom: 15px;
    background: linear-gradient(to left bottom, red, rgb(67, 18, 158));
    color: black
}

.nav-item-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-item-links {
    cursor: pointer;
    color: aliceblue;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
    text-decoration: none;
}

.active {
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(39, 38, 38);
    width:20%;
    padding-top: 20px;
    border-radius: 9px;
    padding-bottom: 100px;
    box-shadow: rgb(88, 86, 86) 0px 0px 10px 2px;
}
input{
    width: 250px;
    border-radius: 7px;
    padding: 10px;
    color: black;
    outline: none;
    margin-top: 0px;
}
.button{
    color: white;
    font-weight: bold;
    background:linear-gradient(to right bottom,rgb(85, 0, 255),rgb(203, 5, 5));
    margin-top: 15px;
    display: flex;
    height:30px;
    padding: 10px;
    align-items: center;
    width: 250px;
    border-radius: 9px;
    justify-content: center;
}
.button:hover{
    box-shadow: rgb(248, 248, 248) 0px 0px 10px 2px;

}
img{
    height: 35px;
}
h4{
    margin: 0px;
}
a{
    text-decoration: none;
}
@media screen and (max-width:700px){
    form{
        width:80%;

    }
}