@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.body {
    margin: 0px;
    background-color: black;
}

.nav-bar {
    padding-top: 15px;
    padding-bottom: 15px;
    background: linear-gradient(to left bottom, red, rgb(67, 18, 158));
    color: black
}

.nav-item-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-item-links{
    cursor: pointer;
    color: aliceblue;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
    text-decoration: none;
}
.active{
    font-weight: bold;
}

.poster-container {
    display: flex;
    min-height: 100px;
    background: black;
    border: 2px solid;
    padding: 15px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.poster-container::-webkit-scrollbar {
    display: none;
}

.genre-container {
    height: 30px;
    padding: 0px;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    color: blue;
}

.show-more {
    height: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    color: blue;
    margin-left: auto;
    padding-right: 20px;
    align-self: center;
}

.genre {
    align-self: center;
    color: rgb(255, 255, 255);
    padding-left: 15px;
    font-size: 15px;
}

.poster {
    padding-right: 20px;
    width: 100px;
    height: 100%;
    background: transparent url("loading2.svg");


}

.poster:hover {
    transform: scale(1.1);
}