@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.body{
    margin: 0px;
}

.nav-bar{
    padding-top: 15px;
    background:linear-gradient(to left bottom,rgb(228, 62, 20),rgb(252, 8, 0),rgb(34, 52, 151));
    color: rgb(0, 0, 0);

}
.list{
    display:flex;
    justify-content: end;
    list-style:none;
}
.item{
    margin: 20px;
}
.flex-items{
    color: aliceblue;
    padding: 20px;

}
.links{
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
    text-decoration: none;
}