@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    margin: 0px;
    background-color: black;
}
*{
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-bar {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: flex-end;
    background: linear-gradient(to left bottom, red, rgb(67, 18, 158));
    color: black;
}
.nav-item-links {
    cursor: pointer;
    color: white;
    padding: 20px;
    text-decoration: none;
}
.active {
    font-weight: bold;
}
select{
    background-color: transparent;
    /* border:1px solid white; */
    border: none;
    border-radius: 6px;
    padding: 0px;
    color: white;
    font-size: large;
    cursor:pointer;
    width: 65px;
}
option{
    background-color: black;
}

/* Style for auto image slider starts:*/
.slider-container {
    margin: auto;
    margin-top: 40px;
    background-color: black;
    height: 320px;
    width: 200px;
    border-radius: 9px;
    /* box-shadow: 0px 0px 10px 10px white; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.slide-image-container {
    display: flex;
    transition: all 1s;
}

.slide-images{
    height: 300px;
    /* margin: 10px; */
}
.position-representer-container {
    display: flex;
    justify-self: center;
    align-self: center;
}

.position-representer{
    border: 1px solid white;
    background-color: black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 5px;
    border-radius: 10px;
}
/*Image-slider style ended*/


.poster-container, .poster-container-of-showMore-page {
    display: flex;
    min-height: 100px;
    background: black;
    border: 2px solid;
    padding: 15px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.poster-container-of-showMore-page{
    overflow-x:visible;
    flex-wrap: wrap;
    row-gap: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.poster-container::-webkit-scrollbar {
    display: none;
}

.genre-container {
    margin-top: 10px;
    height: 30px;
    padding: 0px;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    color: blue;
}

.genre {
    align-self: center;
    color: rgb(255, 255, 255);
    padding-left: 15px;
    font-size: 15px;
}

.poster {
    padding-right: 20px;
    width: 100px;
    height: 100%;
    padding-top: 20px;
}

.poster:hover {
    transform: scale(1.1);
}
.showMoreLink{
    /* border: 2px solid white; */
    padding-top:50px;
    /* height: 20px; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    text-decoration: none;
    background-color: transparent;
    color: blue;
}
@media screen and (max-width:700px) {
    .nav-item-links {
        padding: 11px;
    }
    .poster{
        width:107px;
    }
    .poster-container-of-showMore-page{
        padding-right:0px;
        padding-left: 6px;
    }
    .genre-container{
        margin-top: 40px;
    }
    .position-representer-container{
        padding: -20px;
    }
}